@import "imports/inc";
@import "imports/_adm.css";

body, html {
  height: 100%;
  background: #f4f6f9;
}

body.fullscreen-mode {
  .wrapper{
    .main-header, .breadcrumb-out{
      display: none;
    }
  }
  .content-wrapper {
    margin-top: 15px;
    .app-breadcrumb {
      display: none;
    }
  }
}

.sidebar-open.sidebar-collapse {
  .main-sidebar {
    color: red;
    overflow-x: hidden;
  }
}

#app {
  height: 100%;
}

.content-header {
  :-webkit-full-screen {
    display: none;
  }

  :-moz-full-screen {
    display: none;
  }

  :-ms-fullscreen {
    display: none;
  }

  :full-screen {
    display: none;
  }

  :fullscreen {
    display: none;
  }
}

.login-box, .register-box {
  width: 360px;
  margin: auto auto;
  position: relative;
  top: 10%;
}

.form-group {
  position: relative;
  .form-control-feedback {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    pointer-events: none;
  }
}

.btn-primary {
  background-color: #f05722;
  border-color: #f05722;
}

.btn-primary:hover {
  background-color: #ff7800;
  border-color: #ff7800;
}

.btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  background-color: #ff7800;
  border-color: #ff7800;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125), 0 0 0 0.2rem rgba(255, 161, 4, 0.5);
}

.content-wrapper {
  margin-bottom: 50px;
}

.card-primary.card-outline {
  border-top: 3px solid #f05722;
}

.container-fluid {
  position: relative;
}

.card-footer {
  .export-button {
    float: left;
    color: #f05722;
  }
}

.sidebar-dark-primary {
  .nav-sidebar {
    > .nav-item {
      > .nav-treeview {
        background: #3b4046;
      }
      > .nav-link.active {
        background-color: #f05722;
      }
      .nav-link.active-sub {
        background-color: #5d656d;
      }
    }
  }
}

.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #f05722;
  .text-muted {
    color: #fff !important;
  }
}

.main-footer {
  padding: 5px;
  color: #555;
  border-top: 1px solid #c1c0c0;
  background: #fff;
  margin-top: -29px;
  font-size: 12px;
  .name-empresa{
    color: #007ec5;
    font-weight: bold;
  }
}

.user-panel {
  .image {
    float: left;
  }
  a.d-block {
    width: 100%;
    padding: 5px 0 0;
    border-radius: 4px;
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
  a.d-block.active-sub {
    background: #5d656d;
  }
}

.breadcrumb-out{
  padding: 7px;
}
