module.exports = {
    version: 'VERSION_ENV',
    env: 'ENVIRONMENT_ENV',
    secretKeyCript: 'SECRETKEYCRIPT_ENV',
    server: {
        hostname: 'SERVER_HOST_ENV',
        port: SERVER_PORT_ENV
    },
    frontend: {
        protocolo: 'FRONT_PROTOCOL_ENV',
        host: 'FRONT_HOST_ENV',
        port: FRONT_PORT_ENV
    },
    database: {
        host: 'DATABASE_HOST_ENV',
        databasename: 'DATABASE_DBNAME_ENV'
    }
};
